body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	overflow: hidden;
	background: #e8f8ec;
}
.curved-div {
	position: relative;
	color: #fff;
	text-align: center;
	overflow: hidden;
	/* background: #4ac267; */
}
.curved-div.upper {
	margin-top: -80px;
}

.curved-div.bottom {
	margin-top: -1px;
	background: #4ac267;
}
.curved-div svg {
	display: block;
}
.curved-div {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	margin-top: 0rem;
}
.curved-div h1 {
	font-size: 6rem;
	margin-top: 0rem;
	margin-bottom: 0rem;
}

.curved-div h2 {
	font-size: 3rem;
	margin-top: 0rem;
}
.curved-div h2 img {
	width: 40px;
}

.curved-div p {
	font-size: 1rem;
	margin: 0 5rem 0rem 5rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#map {
	height: 100%;
	width: 100%;
}

.navbar {
	height: 340px;
}
.container {
	position: absolute;
	top: 360px;
	bottom: 0;
	left: 0;
	right: 0;
}
